In [96]:
import pandas as pd
import numpy as np

In [97]:
dict1 = {1: [], 2: [], 3: [], 5: [], 4: [], 6: [], 7: [], 8: [], 9: [], 10: [], 11: [], 12: [], 13: [], 14: [], 15: [], 
         16: [], 17: [], 18: [], 20: [], 21: [], 22: [], 25: [], 23: [], 24: [], 26: [], 27: [], 28: [], 29: [], 30: [], 
         31: [], 33: [], 34: [], 35: [], 36: [], 37: [], 38: [], 39: [], 40: [], 41: [], 42: [], 44: [], 43: [], 45: [], 
         46: [], 47: [], 48: [], 49: [], 54: [], 53: [], 50: [], 55: [], 57: [], 56: [], 51: [], 52: [], 58: [], 59: [], 
         60: [], 61: [], 62: [], 63: [], 67: [], 66: [], 65: [], 64: [], 68: [], 69: [], 72: [], 73: [], 70: [], 71: [], 
         76: [], 75: [], 74: [], 78: [], 77: [], 79: [], 80: [], 81: [], 82: [], 83: [], 85: [], 84: [], 86: [], 87: [], 
         90: [], 89: [], 88: [], 91: [], 92: [], 93: [], 94: [], 95: [], 96: [], 97: [], 99: [], 98: [], 100: [], 101: [], 
         108: [], 103: [], 104: [], 105: [], 106: [], 107: [], 109: [], 110: [], 111: [], 112: [], 113: [], 114: [],
         115: [], 116: [], 117: [], 118: [], 119: [], 120: [], 122: [], 121: [], 123: [], 124: [], 125: [], 126: [], 
         127: [], 128: [], 129: [], 130: [], 131: [], 132: [], 133: [], 134: [], 135: [], 136: [], 137: [], 138: [], 
         139: [], 140: [], 141: [], 142: [], 143: [], 144: [], 145: [], 146: [], 147: [], 148: [], 149: [], 150: [], 
         151: [], 152: [], 155: [], 154: [], 153: [], 156: [], 157: [], 159: [], 160: [], 161: [], 162: [], 163: [], 
         164: [], 166: [], 167: [], 168: [], 169: [], 170: [], 171: [], 172: [], 173: [], 175: [], 174: [], 176: [], 
         177: [], 178: [], 179: [], 182: [], 184: [], 183: [], 181: [], 180: [], 185: [], 187: [], 186: [], 188: [], 
         189: [], 190: [], 191: [], 193: [], 192: [], 194: [], 195: [], 196: [], 197: [], 198: [], 199: [], 200: [], 
         201: [], 202: [], 203: [], 204: [], 205: [], 206: [], 207: [], 208: [], 209: [], 211: [], 210: [], 212: [], 
         214: [], 213: [], 215: [], 217: [], 218: [], 216: [], 220: [], 219: [], 221: [], 222: [], 223: [], 224: [], 
         226: [], 228: [], 227: [], 229: [], 230: [], 231: [], 232: [], 233: [], 234: [], 235: [], 236: [], 241: [], 
         242: [], 240: [], 237: [], 239: [], 238: [], 243: [], 244: [], 245: [], 246: [], 249: [], 248: [], 247: [], 
         251: [], 253: [], 252: [], 250: [], 254: [], 255: [], 256: [], 257: [], 258: [], 259: [], 260: [], 261: [], 
         262: [], 272: [], 269: [], 270: [], 266: [], 268: [], 265: [], 267: [], 263: [], 264: [], 273: [], 274: [], 
         275: [], 277: [], 276: [], 278: [], 279: [], 280: [], 281: [], 282: [], 283: [], 284: [], 286: [], 285: [], 
         287: [], 288: [], 289: [], 290: [], 291: [], 292: [], 293: [], 299: [], 295: [], 296: [], 297: [], 298: [], 
         300: [], 301: [], 302: [], 294: [], 303: [], 304: [], 305: [], 306: [], 310: [], 307: [], 309: [], 308: [], 
         312: [], 311: [], 313: [], 314: [], 315: [], 316: [], 317: [], 318: [], 319: [], 320: [], 321: [], 322: [], 
         323: [], 324: [], 326: [], 325: [], 327: [], 329: [], 328: [], 330: [], 331: [], 332: [], 333: [], 339: [], 
         334: [], 337: [], 336: [], 338: [], 335: [], 340: [], 341: [], 342: [], 343: [], 344: [], 345: [], 347: [], 
         346: [], 348: [], 349: [], 350: [], 351: [], 352: [], 353: [], 354: [], 355: [], 356: [], 359: [], 358: [], 
         357: [], 360: [], 361: [], 362: [], 363: [], 366: [], 364: [], 365: [], 367: []}

In [98]:
dict2 = {1: [4, 5], 2: [2, 3, 6], 3: [11, 12, 13], 4: [14, 15, 16, 17, 18, 20], 5: [28, 29], 6: [33, 34], 
         7: [41, 42, 43, 44], 8: [53, 54], 9: [59, 60], 10: [65, 66], 10: [70, 71, 72, 73], 11: [74, 75, 76], 12: [84, 85], 
         13: [88, 89], 14: [92, 93], 15: [103, 104, 105], 16: [109, 110], 17: [109, 110], 18: [106, 107], 19: [121, 122], 
         20: [126, 127], 21: [130, 131], 22: [137, 139, 138], 23: [142, 143], 24: [145, 146], 25: [153, 154], 
         26: [168, 169], 27: [180, 181], 28: [179, 178], 29: [188, 187, 186], 30: [ 203, 202], 31: [196, 197], 
         32: [211, 210], 33: [214, 213, 212], 34: [218, 217], 35: [227, 228], 36: [240, 239, 238, 237], 37: [242, 241], 
         38: [246, 245], 39: [247, 248, 249], 40: [259, 258], 41: [263, 264], 42: [269, 268, 267, 266, 265, 270], 
         43: [275, 278, 279, 283], 44: [298, 297, 295, 296], 45: [300, 301], 46: [304, 303], 47: [307, 308, 309, 310], 
         48: [312, 311], 49: [313, 314], 50: [319, 320, 321, 322, 323], 
         51: [329, 328, 327, 326, 325], 52: [334, 335, 336, 337, 338, 339], 53: [332, 333], 54: [343, 344], 54: [347, 346], 
         56: [357, 358], 57: [351, 352, 353], 58: [361, 360], 59: [364, 365, 366]}

In [99]:
temp_array = []
for value in dict2.values():
    temp_array.append(value)
temp_array = np.array(temp_array)
temp_array

c:\users\sakif\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.

array([list([4, 5]), list([2, 3, 6]), list([11, 12, 13]),
       list([14, 15, 16, 17, 18, 20]), list([28, 29]), list([33, 34]),
       list([41, 42, 43, 44]), list([53, 54]), list([59, 60]),
       list([70, 71, 72, 73]), list([74, 75, 76]), list([84, 85]),
       list([88, 89]), list([92, 93]), list([103, 104, 105]),
       list([109, 110]), list([109, 110]), list([106, 107]),
       list([121, 122]), list([126, 127]), list([130, 131]),
       list([137, 139, 138]), list([142, 143]), list([145, 146]),
       list([153, 154]), list([168, 169]), list([180, 181]),
       list([179, 178]), list([188, 187, 186]), list([203, 202]),
       list([196, 197]), list([211, 210]), list([214, 213, 212]),
       list([218, 217]), list([227, 228]), list([240, 239, 238, 237]),
       list([242, 241]), list([246, 245]), list([247, 248, 249]),
       list([259, 258]), list([263, 264]),
       list([269, 268, 267, 266, 265, 270]), list([275, 278, 279, 283]),
       list([298, 297, 295, 296]), list([300, 301]), list([304, 303]),
       list([307, 308, 309, 310]), list([312, 311]), list([313, 314]),
       list([319, 320, 321, 322, 323]), list([329, 328, 327, 326, 325]),
       list([334, 335, 336, 337, 338, 339]), list([332, 333]),
       list([347, 346]), list([357, 358]), list([351, 352, 353]),
       list([361, 360]), list([364, 365, 366])], dtype=object)

In [100]:

for x in range(len(temp_array)):
    temp_x = temp_array[x]
    # print(temp_x)
    for p in range(len(temp_x)):
        temp_p = np.delete(temp_x, p)
        dict1[temp_x[p]].append(temp_p.tolist())

# dict1

In [101]:
path_eth_normal = "C:/Users/sakif/jupyter projects/thesis_test/modular test/Untitled Folder/test_eth_normal.csv"

In [102]:
df_eth = pd.read_csv(path_eth_normal, index_col=None)

In [103]:
df_eth.head()

,frame_id,agent_id,pos_x,pos_y,vel_x,vel_y,scene_id,label,timestamp
0,780,1,8.456844,3.588066,1.671714,0.176292,0,pedestrian,52.0
1,786,1,9.125530,3.658583,1.662877,0.326723,0,pedestrian,52.4
2,792,1,9.787146,3.849445,1.683334,0.371084,0,pedestrian,52.8
3,798,1,10.472197,3.955450,1.598568,0.264795,0,pedestrian,53.2
4,804,1,11.066000,4.061280,1.574526,0.456390,0,pedestrian,53.6

In [104]:
from collections import Counter

def printRepeating(arr, n):
   
    # Counting freequencies
    freq = Counter(arr)
    multiple_list_frame = []
     
    # Traverse the freq dictionary and
    # print all the keys whose valuee
    # is greater than 1
    for i in freq:
        if(freq[i] > 1):
            # print(i, end=" ")
            multiple_list_frame.append([i,freq[i]])
    return multiple_list_frame

In [105]:
frame_number = np.array(df_eth["frame_id"])

In [106]:
frame_multiple = np.array(printRepeating(frame_number, len(frame_number)))
frame_multiple
print(max(frame_multiple[:, 1]))
np.argmax(frame_multiple[:, 1])

27

1061

In [107]:
# printRepeating(frame_number, len(frame_number))

In [108]:
input_xy = df_eth.values[:, 2:4].astype('float32')
input_xy[0]

array([8.456844 , 3.5880663], dtype=float32)

In [109]:
# 10 because maximum of 5 groupmates, 5*2 co-ordinate values (x,y)
temp_g_array = []
for p in range(len(input_xy)):
    temp_g_array.append(np.zeros(10))
    
temp_g_array = np.array(temp_g_array)
temp_g_array

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [110]:
temp_g_array.shape

(8908, 10)

In [111]:
len(frame_multiple)

1312

In [112]:
# in timesteps where there are multiple pedes, there's a possibility to find groupmates
# so we iteratively find those cases and corresponding peds
# then see if those pedestrian have groupmates 
# if they have groupmates, then see if those groupmates are present at that time steps
# if so get the corresponding group-mate positions
# voila we get the groupmate positions

# len(frame_multiple)
for j in range(len(frame_multiple)):
    
    # print("count:", j)
    # print(frame_multiple[j, 0])
    
    result = np.where(frame_number==frame_multiple[j, 0])
    # print("result", result)
    result2 = result[0]
    # print("result2: ", result2)
    # temp_ped_set = input_xy[result2[0]:result2[-1]+1]
    
    test_df_indiv = df_eth.loc[df_eth['frame_id'] == frame_multiple[j, 0]]
    # print("test_df_indiv: ", test_df_indiv)
    ped_id_array = np.array(test_df_indiv['agent_id'])
    # print("ped_id_array: ", ped_id_array)
    
    for h in range(len(ped_id_array)):
        # print(ped_id_array[h])
        a = np.array(dict1[ped_id_array[h]]).flatten()
        # print("a: ", a)

        temp_loc_array = []
        for k in range(len(a)):
            # print("a[k]: ", a[k])
            if a[k] in ped_id_array:
                temp_loc = np.where(ped_id_array == a[k])
                # print("temp_loc: ", temp_loc)
                temp_loc_array.append(temp_loc)
                # print("true")
            else: pass
        temp_loc_array = np.array(temp_loc_array).flatten()
        # print("temp location array:", temp_loc_array)
        temp_loc_array2 = []
        temp_group_set = [[0, 0]]
        # find the group members: their positions
        for d in range(len(temp_loc_array)):
            loc2 = result2[temp_loc_array[d]]
            # print("loc2: ", loc2)
            temp_loc_array2.append(loc2)
            temp_group_memb = input_xy[loc2]
            temp_group_set.append(temp_group_memb)

        temp_loc_array2 = np.array(temp_loc_array2).flatten()
        temp_group_set = np.array(temp_group_set)
        # print((temp_group_set))
        
        for n in range(6 - len(temp_group_set)):
            # print(temp_group_set)
            temp_group_set = np.concatenate((temp_group_set, [[0, 0]]), axis=0)
        # print(temp_group_set)
        # print("change or update at this location: ", result2[change_loc])
        change_loc = np.where(ped_id_array == ped_id_array[h])
        # print("change or update at this location: ", result2[change_loc])
        temp_group_set = temp_group_set[1:]
        temp_group_set = temp_group_set.flatten()
        # print(len(temp_group_set))
        temp_g_array[result2[change_loc]] = temp_group_set
        

temp_g_array

array([[ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [12.36908722,  4.14637518, 12.70807076, ...,  0.        ,
         0.        ,  0.        ],
       [12.70807076,  5.3365407 , 12.13231087, ...,  0.        ,
         0.        ,  0.        ],
       [12.36908722,  4.14637518, 12.13231087, ...,  0.        ,
         0.        ,  0.        ]])

In [113]:
temp_g_array[-1]

array([12.36908722,  4.14637518, 12.13231087,  6.98498201,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ])

In [114]:
np.array(df_eth["agent_id"])[-1]

365

In [115]:
np.unique(temp_g_array)

array([-6.51068926, -6.36765385, -6.2708025 , ..., 13.62778473,
       13.64531803, 13.68056679])

In [116]:
# next find the required parameters: 'centroid_dist', 'rotation_angle'
# how to choose a leader? try choosing randomly? or somehow relate to distance to destination??
# borrow the formulas for parameters: especially rotation angle

In [117]:
np.array([1, 2]) + np.array([3, 4])

array([4, 6])

In [118]:
df_eth.head()

,frame_id,agent_id,pos_x,pos_y,vel_x,vel_y,scene_id,label,timestamp
0,780,1,8.456844,3.588066,1.671714,0.176292,0,pedestrian,52.0
1,786,1,9.125530,3.658583,1.662877,0.326723,0,pedestrian,52.4
2,792,1,9.787146,3.849445,1.683334,0.371084,0,pedestrian,52.8
3,798,1,10.472197,3.955450,1.598568,0.264795,0,pedestrian,53.2
4,804,1,11.066000,4.061280,1.574526,0.456390,0,pedestrian,53.6

In [119]:
df_eth = df_eth.drop(["label", "timestamp"], axis=1)

In [120]:
df_eth.head()

   frame_id  agent_id      pos_x     pos_y     vel_x     vel_y  scene_id
0       780         1   8.456844  3.588066  1.671714  0.176292         0
1       786         1   9.125530  3.658583  1.662877  0.326723         0
2       792         1   9.787146  3.849445  1.683334  0.371084         0
3       798         1  10.472197  3.955450  1.598568  0.264795         0
4       804         1  11.066000  4.061280  1.574526  0.456390         0

In [121]:
df_eth.insert(7, "g1_x", temp_g_array[:, 0])

In [122]:
df_eth.head()

   frame_id  agent_id      pos_x     pos_y     vel_x     vel_y  scene_id  g1_x
0       780         1   8.456844  3.588066  1.671714  0.176292         0   0.0
1       786         1   9.125530  3.658583  1.662877  0.326723         0   0.0
2       792         1   9.787146  3.849445  1.683334  0.371084         0   0.0
3       798         1  10.472197  3.955450  1.598568  0.264795         0   0.0
4       804         1  11.066000  4.061280  1.574526  0.456390         0   0.0

In [123]:
df_eth.insert(8, "g1_y", temp_g_array[:, 1])
df_eth.insert(9, "g2_x", temp_g_array[:, 2])
df_eth.insert(10, "g2_y", temp_g_array[:, 3])
df_eth.insert(11, "g3_x", temp_g_array[:, 4])
df_eth.insert(12, "g3_y", temp_g_array[:, 5])
df_eth.insert(13, "g4_x", temp_g_array[:, 6])
df_eth.insert(14, "g4_y", temp_g_array[:, 7])
df_eth.insert(15, "g5_x", temp_g_array[:, 8])
df_eth.insert(16, "g5_y", temp_g_array[:, 9])

In [124]:
df_eth.tail()

,frame_id,agent_id,pos_x,pos_y,vel_x,vel_y,scene_id,g1_x,g1_y,g2_x,g2_y,g3_x,g3_y,g4_x,g4_y,g5_x,g5_y
8903,12381,357,10.449366,6.229233,0.596406,0.066591,0,10.392473,6.746707,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
8904,12381,367,11.201661,8.443910,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
8905,12381,366,12.132311,6.984982,0.733247,-0.531564,0,12.369087,4.146375,12.708071,5.336541,0.0,0.0,0.0,0.0,0.0,0.0
8906,12381,364,12.369087,4.146375,1.139005,0.166531,0,12.708071,5.336541,12.132311,6.984982,0.0,0.0,0.0,0.0,0.0,0.0
8907,12381,365,12.708071,5.336541,0.922475,-0.233965,0,12.369087,4.146375,12.132311,6.984982,0.0,0.0,0.0,0.0,0.0,0.0

In [125]:
all_pos_array= np.array(df_eth[["pos_x", "pos_y", "g1_x", "g1_y", "g2_x", "g2_y", "g3_x", "g3_y", "g4_x", "g4_y", 
                                "g5_x", "g5_y"]])

In [126]:
# a[start:stop:step] # start through not past stop, by step

In [127]:
(all_pos_array[16])

array([-1.8861126,  4.3794954, -1.7114104,  5.1259594,  0.       ,
        0.       ,  0.       ,  0.       ,  0.       ,  0.       ,
        0.       ,  0.       ])

In [128]:
all_pos_array[16][0::2]

array([-1.8861126, -1.7114104,  0.       ,  0.       ,  0.       ,
        0.       ])

In [129]:
(np.trim_zeros(all_pos_array[-1]))

array([12.708071  ,  5.3365408 , 12.36908722,  4.14637518, 12.13231087,
        6.98498201])

In [130]:
import random
import math

In [131]:
len(all_pos_array)

8908

In [132]:
centroid_list = []
max_angle_list = []
eta_centroid_list = []
for p in range(len(all_pos_array)):
    pos_temp_array = all_pos_array[p]
    pos_temp_array = np.trim_zeros(pos_temp_array)
    # print(pos_temp_array)

    
    # just put a condition to skip when there is no group
    if len(pos_temp_array) == 2: max_angle, centroid_dist = 0, 0; eta_centroid = [0, 0]

    else: 
        # Centroid distance
        x_array = pos_temp_array[0::2]
        y_array = pos_temp_array[1::2]
        ci = np.array([np.sum(x_array)/len(y_array), np.sum(y_array)/len(y_array)])
        # print("centroid point: ", ci)

        centroid_dist = np.linalg.norm(pos_temp_array[:2] - ci)
        eta_centroid = (ci - pos_temp_array[:2])/centroid_dist
        # print("centroid distance: ", eta_centroid)

        if len(pos_temp_array) == 4: choice_leader = random.choice([0, 2])
        elif len(pos_temp_array) == 6: choice_leader = random.choice([0, 2, 4])
        elif len(pos_temp_array) == 8: choice_leader = random.choice([0, 2, 4, 6])
        else: choice_leader = random.choice([0, 2, 4, 6, 8])

        leader = pos_temp_array[choice_leader: (choice_leader + 2)] 
        # print(choice_leader + 2)
        # print(leader)

        # break
        dist, max_angle, fov_factor = 1000000, 0, 181
        for m in range(int(len(pos_temp_array)/2)):
                view_angle = math.degrees((math.atan2(leader[0], leader[1]) - math.atan2(pos_temp_array[m], 
                                                                                         pos_temp_array[m+1])))
                if (view_angle < 0): view_angle += 360

                if view_angle <= fov_factor and view_angle >= (360- fov_factor): continue

                if view_angle <= fov_factor: 
                    min_rotation_angle = fov_factor - view_angle
                else:
                    min_rotation_angle = view_angle - (360 - fov_factor)

                if min_rotation_angle > max_angle: 
                    max_angle = min_rotation_angle
                # print("max_angle: ", max_angle, "\n")
                max_angle = math.radians(max_angle)
    centroid_list.append(centroid_dist)
    max_angle_list.append(max_angle)
    eta_centroid_list.append(eta_centroid)

centroid_list = np.array(centroid_list)
max_angle_list = np.array(max_angle_list)
eta_centroid_list = np.array(eta_centroid_list)

print(len(centroid_list))
print(len(max_angle_list))
print(eta_centroid_list.shape)

8908
8908
(8908, 2)

In [133]:
eta_centroid_list[:, 0]

array([ 0.        ,  0.        ,  0.        , ...,  0.17818678,
        0.02536126, -0.89407363])

In [134]:
centroid_list

array([0.        , 0.        , 0.        , ..., 1.52000794, 1.34335613,
       0.34103974])

In [135]:
max_angle_list

array([0.        , 0.        , 0.        , ..., 3.08492305, 3.15904595,
       2.96010864])

In [136]:
df_eth.head()

,frame_id,agent_id,pos_x,pos_y,vel_x,vel_y,scene_id,g1_x,g1_y,g2_x,g2_y,g3_x,g3_y,g4_x,g4_y,g5_x,g5_y
0,780,1,8.456844,3.588066,1.671714,0.176292,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,786,1,9.125530,3.658583,1.662877,0.326723,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,792,1,9.787146,3.849445,1.683334,0.371084,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,798,1,10.472197,3.955450,1.598568,0.264795,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,804,1,11.066000,4.061280,1.574526,0.456390,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [137]:
df_eth = df_eth.drop(["scene_id", "g1_x", "g1_y", "g2_x", "g2_y", "g3_x", "g3_y", "g4_x", "g4_y", "g5_x", "g5_y"], axis=1)

In [138]:
df_eth.head()

   frame_id  agent_id      pos_x     pos_y     vel_x     vel_y
0       780         1   8.456844  3.588066  1.671714  0.176292
1       786         1   9.125530  3.658583  1.662877  0.326723
2       792         1   9.787146  3.849445  1.683334  0.371084
3       798         1  10.472197  3.955450  1.598568  0.264795
4       804         1  11.066000  4.061280  1.574526  0.456390

In [139]:
df_eth["rotation_angle"] = max_angle_list

In [140]:
df_eth["eta_group_x"] = eta_centroid_list[:, 0]
df_eth["eta_group_y"] = eta_centroid_list[:, 1]

In [141]:
df_eth.tail()

,frame_id,agent_id,pos_x,pos_y,vel_x,vel_y,rotation_angle,eta_group_x,eta_group_y
8903,12381,357,10.449366,6.229233,0.596406,0.066591,2.704033,-0.109285,0.994010
8904,12381,367,11.201661,8.443910,0.000000,0.000000,0.000000,0.000000,0.000000
8905,12381,366,12.132311,6.984982,0.733247,-0.531564,3.084923,0.178187,-0.983997
8906,12381,364,12.369087,4.146375,1.139005,0.166531,3.159046,0.025361,0.999678
8907,12381,365,12.708071,5.336541,0.922475,-0.233965,2.960109,-0.894074,0.447920

In [142]:
space_x1 = np.linspace(-14.580, 0.793, num=20)
space_y1 = np.linspace(-0.727, -0.595, num=20)
space_x2 = np.linspace(-14.098, 0.683, num=20)
space_y2 = np.linspace(13.000, 12.656, num=20)

space1_cords = []
for p in range(len(space_x1)):
    temp_array = [space_x1[p], space_y1[p]]
    space1_cords.append(temp_array)
space1_cords = np.array(space1_cords)
space2_cords = []
for p in range(len(space_x2)):
    temp_array = [space_x2[p], space_y2[p]]
    space2_cords.append(temp_array)
space2_cords = np.array(space2_cords)

In [143]:
space_cords_total = np.concatenate((space1_cords, space2_cords), axis=0)

In [144]:
df_eth = df_eth.sort_values(by=['frame_id', 'agent_id'], ascending=True)
df_eth.head()

,frame_id,agent_id,pos_x,pos_y,vel_x,vel_y,rotation_angle,eta_group_x,eta_group_y
0,780,1,8.456844,3.588066,1.671714,0.176292,0.0,0.0,0.0
1,786,1,9.125530,3.658583,1.662877,0.326723,0.0,0.0,0.0
2,792,1,9.787146,3.849445,1.683334,0.371084,0.0,0.0,0.0
3,798,1,10.472197,3.955450,1.598568,0.264795,0.0,0.0,0.0
4,804,1,11.066000,4.061280,1.574526,0.456390,0.0,0.0,0.0

In [145]:
input_xy[0]

array([8.456844 , 3.5880663], dtype=float32)

In [146]:
# get nearby obstacles
nearby_obstacle_list = []
distance_to_nearby_obstacle = []
for k in range(len(input_xy)):
    # print(k)
    space_dist = input_xy[k] - space_cords_total
    temp_dist = []
    
    # print(space_dist)
    for x in range(len(space_dist)):
        temp_x = np.linalg.norm(space_dist[x])
        temp_dist.append(temp_x)

    temp_dist = np.array(temp_dist)
    temp_dist2 = min(temp_dist)
    temp_index = np.argmin(temp_dist)
    # print(temp_index)
    temp_cords = space_cords_total[temp_index]
    distance_to_nearby_obstacle.append(temp_dist2)
    # print(temp_cords)
    
    nearby_obstacle_list.append(temp_cords)
    
nearby_obstacle_list = np.array(nearby_obstacle_list)
distance_to_nearby_obstacle = np.array(distance_to_nearby_obstacle)
print(len(nearby_obstacle_list))
print(len(distance_to_nearby_obstacle))
print(distance_to_nearby_obstacle)

8908
8908
[ 8.73112558  9.35542784 10.03233479 ... 12.77682137 12.50945378
 13.30984922]

In [147]:
df_eth['bound_x'] = nearby_obstacle_list[:, 0]
df_eth['bound_y'] = nearby_obstacle_list[:, 1]

In [148]:
df_eth.head()

,frame_id,agent_id,pos_x,pos_y,vel_x,vel_y,rotation_angle,eta_group_x,eta_group_y,bound_x,bound_y
0,780,1,8.456844,3.588066,1.671714,0.176292,0.0,0.0,0.0,0.793,-0.595
1,786,1,9.125530,3.658583,1.662877,0.326723,0.0,0.0,0.0,0.793,-0.595
2,792,1,9.787146,3.849445,1.683334,0.371084,0.0,0.0,0.0,0.793,-0.595
3,798,1,10.472197,3.955450,1.598568,0.264795,0.0,0.0,0.0,0.793,-0.595
4,804,1,11.066000,4.061280,1.574526,0.456390,0.0,0.0,0.0,0.793,-0.595

In [149]:
frame_number = np.array(df_eth["frame_id"])
frame_multiple = np.array(printRepeating(frame_number, len(frame_number)))
frame_multiple
print(max(frame_multiple[:, 1]))
np.argmax(frame_multiple[:, 1])

27

1061

In [150]:
temp_n_array = []
for p in range(len(input_xy)):
    temp_n_array.append(np.zeros(52))
    
temp_n_array = np.array(temp_n_array)
temp_n_array

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [151]:
# it is this process to get neighbors
# go through it and put 
# print(len(temp_ped_set1))
# temp_ped_set1 = np.delete(temp_ped_set, x, axis=0), iterate this x in range(len(temp_ped_State)) 
# then append zeroes to reach 26 neighbours
# temp_ped_set1 = np.delete(temp_ped_set, 0, axis=0)
# print(temp_ped_set1)
# temp_ped_set
for j in range(len(frame_multiple)):
    result = np.where(frame_number==frame_multiple[j, 0])
    result2 = result[0]
    # print(result2)
    temp_ped_set = input_xy[result2[0]:result2[-1]+1]
    # temp_dw_Set2 = []
    # for k in range(len(temp_ped_set)):
     #   temp_dw = np.linalg.norm(input_xy[frame_multiple2[j, 0]])
    

    for s in range(len(temp_ped_set)):
        temp_ped_set1 = np.delete(temp_ped_set, s, axis=0)
        for k in range((27 - len(temp_ped_set))):
            temp_ped_set1 = np.concatenate((temp_ped_set1, [[0, 0]]), axis=0)
        temp_ped_set1 = temp_ped_set1.flatten()
        temp_n_array[result2[s]] = temp_ped_set1
    

temp_n_array

array([[ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [10.39247322,  6.74670696, 10.44936562, ...,  0.        ,
         0.        ,  0.        ],
       [10.39247322,  6.74670696, 10.44936562, ...,  0.        ,
         0.        ,  0.        ],
       [10.39247322,  6.74670696, 10.44936562, ...,  0.        ,
         0.        ,  0.        ]])

In [152]:
temp_dw_array = []
for p in range(len(input_xy)):
    temp_dw_array.append(np.zeros(26))
temp_dw_array = np.array(temp_dw_array)

temp_nw_array = []
for p in range(len(input_xy)):
    temp_nw_array.append(np.zeros((26, 2)))
temp_nw_array = np.array(temp_nw_array)

In [153]:
# to get dw and nw for all neighbours
for x in range(len(input_xy)):
    temp_dw_set2 = []
    temp_nw_set2 = []
    point1 = input_xy[x]
    point2_set = temp_n_array[x, :]
    point2_set = np.reshape(point2_set, (26,2))
    for j in range(len(point2_set)):
        # print(point2_set[j])
        if np.all(point2_set[j] == [0, 0]):
            temp_dw = 0
            temp_nw = [0, 0]
        else:
            temp_dw = np.linalg.norm(point1 - point2_set[j])
            temp_nw = (point1 - point2_set[j])/temp_dw
        temp_dw_set2.append(temp_dw)
        temp_nw_set2.append(temp_nw)
    temp_dw_set2 = np.array(temp_dw_set2)
    temp_nw_set2 = np.array(temp_nw_set2)
    temp_dw_array[x] = temp_dw_set2
    temp_nw_array[x] = temp_nw_set2
               
temp_dw_array.shape

(8908, 26)

In [154]:
df_eth['n1_x'] = temp_n_array[:, 0]
df_eth['n1_y'] = temp_n_array[:, 1]
df_eth['n2_x'] = temp_n_array[:, 2]
df_eth['n2_y'] = temp_n_array[:, 3]
df_eth['n3_x'] = temp_n_array[:, 4]
df_eth['n3_y'] = temp_n_array[:, 5]
df_eth['n4_x'] = temp_n_array[:, 6]
df_eth['n4_y'] = temp_n_array[:, 7]
df_eth['n5_x'] = temp_n_array[:, 8]
df_eth['n5_y'] = temp_n_array[:, 9]
df_eth['n6_x'] = temp_n_array[:, 10]
df_eth['n6_y'] = temp_n_array[:, 11]
df_eth['n7_x'] = temp_n_array[:, 12]
df_eth['n7_y'] = temp_n_array[:, 13]
df_eth['n8_x'] = temp_n_array[:, 14]
df_eth['n8_y'] = temp_n_array[:, 15]
df_eth['n9_x'] = temp_n_array[:, 16]
df_eth['n9_y'] = temp_n_array[:, 17]
df_eth['n10_x'] = temp_n_array[:, 18]
df_eth['n10_y'] = temp_n_array[:, 19]
df_eth['n11_x'] = temp_n_array[:, 20]
df_eth['n11_y'] = temp_n_array[:, 21]
df_eth['n12_x'] = temp_n_array[:, 22]
df_eth['n12_y'] = temp_n_array[:, 23]
df_eth['n13_x'] = temp_n_array[:, 24]
df_eth['n13_y'] = temp_n_array[:, 25]
df_eth['n14_x'] = temp_n_array[:, 26]
df_eth['n14_y'] = temp_n_array[:, 27]
df_eth['n15_x'] = temp_n_array[:, 28]
df_eth['n15_y'] = temp_n_array[:, 29]
df_eth['n16_x'] = temp_n_array[:, 30]
df_eth['n16_y'] = temp_n_array[:, 31]
df_eth['n17_x'] = temp_n_array[:, 32]
df_eth['n17_y'] = temp_n_array[:, 33]
df_eth['n18_x'] = temp_n_array[:, 34]
df_eth['n18_y'] = temp_n_array[:, 35]
df_eth['n19_x'] = temp_n_array[:, 36]
df_eth['n19_y'] = temp_n_array[:, 37]
df_eth['n20_x'] = temp_n_array[:, 38]
df_eth['n20_y'] = temp_n_array[:, 39]
df_eth['n21_x'] = temp_n_array[:, 40]
df_eth['n21_y'] = temp_n_array[:, 41]
df_eth['n22_x'] = temp_n_array[:, 42]
df_eth['n22_y'] = temp_n_array[:, 43]
df_eth['n23_x'] = temp_n_array[:, 44]
df_eth['n23_y'] = temp_n_array[:, 45]
df_eth['n24_x'] = temp_n_array[:, 46]
df_eth['n24_y'] = temp_n_array[:, 47]
df_eth['n25_x'] = temp_n_array[:, 48]
df_eth['n25_y'] = temp_n_array[:, 49]
df_eth['n26_x'] = temp_n_array[:, 50]
df_eth['n26_y'] = temp_n_array[:, 51]

In [155]:
df_eth.head()

,frame_id,agent_id,pos_x,pos_y,vel_x,vel_y,rotation_angle,eta_group_x,eta_group_y,bound_x,...,n22_x,n22_y,n23_x,n23_y,n24_x,n24_y,n25_x,n25_y,n26_x,n26_y
0,780,1,8.456844,3.588066,1.671714,0.176292,0.0,0.0,0.0,0.793,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,786,1,9.125530,3.658583,1.662877,0.326723,0.0,0.0,0.0,0.793,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,792,1,9.787146,3.849445,1.683334,0.371084,0.0,0.0,0.0,0.793,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,798,1,10.472197,3.955450,1.598568,0.264795,0.0,0.0,0.0,0.793,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,804,1,11.066000,4.061280,1.574526,0.456390,0.0,0.0,0.0,0.793,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [156]:
len(df_eth.columns)

63

In [157]:
for k in range(26):
    label_x = "d_w"
    label_x2 = label_x + str(1 + k)
    df_eth.insert(62+k, label_x2, temp_dw_array[:, 0+k])

In [158]:
df_eth.head()

,frame_id,agent_id,pos_x,pos_y,vel_x,vel_y,rotation_angle,eta_group_x,eta_group_y,bound_x,...,d_w18,d_w19,d_w20,d_w21,d_w22,d_w23,d_w24,d_w25,d_w26,n26_y
0,780,1,8.456844,3.588066,1.671714,0.176292,0.0,0.0,0.0,0.793,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,786,1,9.125530,3.658583,1.662877,0.326723,0.0,0.0,0.0,0.793,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,792,1,9.787146,3.849445,1.683334,0.371084,0.0,0.0,0.0,0.793,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,798,1,10.472197,3.955450,1.598568,0.264795,0.0,0.0,0.0,0.793,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,804,1,11.066000,4.061280,1.574526,0.456390,0.0,0.0,0.0,0.793,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [159]:
for k in range(26):
    label_nw_x = "n_w_x"
    label_nw_x2 = label_nw_x + str(1 + k)
    df_eth.insert(88+k, label_nw_x2, temp_nw_array[:, 0+k, 0])

c:\users\sakif\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3361: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  if (await self.run_code(code, result,  async_=asy)):

In [160]:
for k in range(26):
    label_nw_y = "n_w_y"
    label_nw_y2 = label_nw_y + str(1 + k)
    df_eth.insert(114 + k, label_nw_y2, temp_nw_array[:, 0+k, 1])

In [161]:
df_eth.head()

,frame_id,agent_id,pos_x,pos_y,vel_x,vel_y,rotation_angle,eta_group_x,eta_group_y,bound_x,...,n_w_y18,n_w_y19,n_w_y20,n_w_y21,n_w_y22,n_w_y23,n_w_y24,n_w_y25,n_w_y26,n26_y
0,780,1,8.456844,3.588066,1.671714,0.176292,0.0,0.0,0.0,0.793,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,786,1,9.125530,3.658583,1.662877,0.326723,0.0,0.0,0.0,0.793,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,792,1,9.787146,3.849445,1.683334,0.371084,0.0,0.0,0.0,0.793,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,798,1,10.472197,3.955450,1.598568,0.264795,0.0,0.0,0.0,0.793,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,804,1,11.066000,4.061280,1.574526,0.456390,0.0,0.0,0.0,0.793,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [162]:
bound_xy = df_eth.values[:, 8:10].astype('float32')
bound_xy[0]

array([0.   , 0.793], dtype=float32)

In [163]:
# eucledian distance dw
dw_bound = []
nw_bound = []
for n in range(len(input_xy)):
    temp_dw = np.linalg.norm(input_xy[n] - bound_xy[n])
    temp_nw = (input_xy[n] - bound_xy[n])/temp_dw
    dw_bound.append(temp_dw)
    nw_bound.append(temp_nw)
dw_bound = np.array(dw_bound)
nw_bound = np.array(nw_bound)

# print(dw_bound[:10])
# print(nw_bound[:10])

In [164]:
df_eth["d_w_bound"] = dw_bound
df_eth["n_w_bound_x"] = nw_bound[:, 0]
df_eth["n_w_bound_y"] = nw_bound[:, 1]

In [165]:
df_eth = df_eth.rename(columns={'agent_id':'ped_no'})

In [166]:
df_eth.head()

,frame_id,ped_no,pos_x,pos_y,vel_x,vel_y,rotation_angle,eta_group_x,eta_group_y,bound_x,...,n_w_y21,n_w_y22,n_w_y23,n_w_y24,n_w_y25,n_w_y26,n26_y,d_w_bound,n_w_bound_x,n_w_bound_y
0,780,1,8.456844,3.588066,1.671714,0.176292,0.0,0.0,0.0,0.793,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.906774,0.949485,0.313814
1,786,1,9.125530,3.658583,1.662877,0.326723,0.0,0.0,0.0,0.793,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.564877,0.954067,0.299594
2,792,1,9.787146,3.849445,1.683334,0.371084,0.0,0.0,0.0,0.793,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.253295,0.954537,0.298094
3,798,1,10.472197,3.955450,1.598568,0.264795,0.0,0.0,0.0,0.793,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.939286,0.957302,0.289091
4,804,1,11.066000,4.061280,1.574526,0.456390,0.0,0.0,0.0,0.793,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.538544,0.959046,0.283249

In [167]:
df_eth.to_csv("eth_data_prepared_normal3.csv", index=False)