Sample data preparation script for Trajectory prediction project

In [37]:
import pandas as pd
import numpy as np

In [38]:
dict_temp = {}
for h in range(0, 474):
    dict_temp[h] = []

In [39]:
dict1 = dict_temp

In [40]:
# dict1

In [41]:
path_group = "C:/Users/sakif/Documents/My studies/thesis/new topic/dataset/" \
             "OpenTraj-55ae4190d6507c1e6555bb7ca053e59666a2e177/" \
             "OpenTraj-55ae4190d6507c1e6555bb7ca053e59666a2e177/datasets/UCY/\\students03/groups.txt"

In [42]:
group_df = pd.read_csv(path_group, sep=" ", header=None, engine='python', names=list(range(6)), index_col=None)

In [43]:
group_df.head()

     0      1      2      3      4      5
0  103    NaN    NaN    NaN    NaN    NaN
1    6   18.0  421.0  422.0  423.0  425.0
2    7    8.0    NaN    NaN    NaN    NaN
3    9  273.0  274.0    NaN    NaN    NaN
4   10   11.0   12.0   13.0    NaN    NaN

In [44]:
group_dict = group_df.to_dict(orient="index")
# group_dict

In [45]:
tt_arr2 = []
for s in range(len(group_dict)):
    tt_arr = []
    for p in range(6):
        if not np.isnan(group_dict[s][p]):
            tt_arr.append(group_dict[s][p])
    tt_arr2.append(tt_arr)
tt_arr2 = np.array(tt_arr2)

c:\users\sakif\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:8: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

In [46]:
# tt_arr2

In [47]:
temp_array = tt_arr2

In [48]:
for x in range(len(temp_array)):
    temp_x = temp_array[x]
    # print(temp_x)
    for p in range(len(temp_x)):
        temp_p = np.delete(temp_x, p)
        dict1[temp_x[p]].append(temp_p.tolist())

# dict1

In [49]:
# dict1

In [20]:
path_eth_normal = "C:/Users/sakif/jupyter projects/thesis_test/modular test/Untitled Folder/test_students03_normal.csv"

In [21]:
df_eth = pd.read_csv(path_eth_normal, index_col=None)

In [22]:
(np.unique(df_eth["agent_id"]))

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433], dtype=int64)

In [24]:
len((np.unique(df_eth["agent_id"])))

434

In [15]:
df_eth.head()

,frame_id,agent_id,pos_x,pos_y,scene_id,label,timestamp,vel_x,vel_y
0,10,0,-4.659964,-8.678696,0,pedestrian,0.4,1.470409,0.583279
1,20,0,-4.071801,-8.445384,0,pedestrian,0.8,1.470409,0.583279
2,30,0,-3.483638,-8.212072,0,pedestrian,1.2,1.470409,0.583279
3,40,0,-2.899457,-7.970905,0,pedestrian,1.6,1.460452,0.602917
4,50,0,-2.324569,-7.711410,0,pedestrian,2.0,1.437220,0.648739

In [16]:
from collections import Counter

def printRepeating(arr, n):
   
    # Counting freequencies
    freq = Counter(arr)
    multiple_list_frame = []
     
    # Traverse the freq dictionary and
    # print all the keys whose valuee
    # is greater than 1
    for i in freq:
        if(freq[i] > 1):
            # print(i, end=" ")
            multiple_list_frame.append([i,freq[i]])
    return multiple_list_frame

In [17]:
frame_number = np.array(df_eth["frame_id"])

In [18]:
frame_multiple = np.array(printRepeating(frame_number, len(frame_number)))
frame_multiple
print(max(frame_multiple[:, 1]))
np.argmax(frame_multiple[:, 1])

51

97

In [19]:
# printRepeating(frame_number, len(frame_number))

In [20]:
# printRepeating(frame_number, len(frame_number))

In [21]:
input_xy = df_eth.values[:, 2:4].astype('float32')
input_xy[0]

array([-4.6599646, -8.678696 ], dtype=float32)

In [22]:
# 10 because maximum of 5 groupmates, 5*2 co-ordinate values (x,y)
temp_g_array = []
for p in range(len(input_xy)):
    temp_g_array.append(np.zeros(12))
    
temp_g_array = np.array(temp_g_array)
temp_g_array

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [23]:
temp_g_array.shape

(17478, 12)

In [24]:
len(frame_multiple)

540

In [25]:
# in timesteps where there are multiple pedes, there's a possibility to find groupmates
# so we iteratively find those cases and corresponding peds
# then see if those pedestrian have groupmates 
# if they have groupmates, then see if those groupmates are present at that time steps
# if so get the corresponding group-mate positions
# voila we get the groupmate positions

# len(frame_multiple)
for j in range(len(frame_multiple)):
    
    # print("count:", j)
    # print(frame_multiple[j, 0])
    
    result = np.where(frame_number==frame_multiple[j, 0])
    # print("result", result)
    result2 = result[0]
    # print("result2: ", result2)
    # temp_ped_set = input_xy[result2[0]:result2[-1]+1]
    
    test_df_indiv = df_eth.loc[df_eth['frame_id'] == frame_multiple[j, 0]]
    # print("test_df_indiv: ", test_df_indiv)
    ped_id_array = np.array(test_df_indiv['agent_id'])
    # print("ped_id_array: ", ped_id_array)
    
    for h in range(len(ped_id_array)):
        # print(ped_id_array[h])
        a = np.array(dict1[ped_id_array[h]]).flatten()
        # print("a: ", a)

        temp_loc_array = []
        for k in range(len(a)):
            # print("a[k]: ", a[k])
            if a[k] in ped_id_array:
                temp_loc = np.where(ped_id_array == a[k])
                # print("temp_loc: ", temp_loc)
                temp_loc_array.append(temp_loc)
                # print("true")
            else: pass
        temp_loc_array = np.array(temp_loc_array).flatten()
        # print("temp location array:", temp_loc_array)
        temp_loc_array2 = []
        temp_group_set = [[0, 0]]
        # find the group members: their positions
        for d in range(len(temp_loc_array)):
            loc2 = result2[temp_loc_array[d]]
            # print("loc2: ", loc2)
            temp_loc_array2.append(loc2)
            temp_group_memb = input_xy[loc2]
            temp_group_set.append(temp_group_memb)

        temp_loc_array2 = np.array(temp_loc_array2).flatten()
        temp_group_set = np.array(temp_group_set)
        # print((temp_group_set))
        
        for n in range(7 - len(temp_group_set)):
            # print(temp_group_set)
            temp_group_set = np.concatenate((temp_group_set, [[0, 0]]), axis=0)
        # print(temp_group_set)
        # print("change or update at this location: ", result2[change_loc])
        change_loc = np.where(ped_id_array == ped_id_array[h])
        # print("change or update at this location: ", result2[change_loc])
        temp_group_set = temp_group_set[1:]
        temp_group_set = temp_group_set.flatten()
        # print(len(temp_group_set))
        temp_g_array[result2[change_loc]] = temp_group_set
        

temp_g_array

c:\users\sakif\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:27: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
c:\users\sakif\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:33: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [26]:
temp_g_array[619]

array([  0.67022789,  -3.56142879, -14.04626465, -11.16815281,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ])

In [27]:
np.array(df_eth["agent_id"])[-1]

433

In [28]:
np.unique(temp_g_array)

array([-30.26311874, -30.22306252, -30.06219673, ...,   2.78533387,
         2.81125569,   2.81340981])

In [29]:
# next find the required parameters: 'centroid_dist', 'rotation_angle'
# how to choose a leader? try choosing randomly? or somehow relate to distance to destination??
# borrow the formulas for parameters: especially rotation angle

In [30]:
df_eth.head()

,frame_id,agent_id,pos_x,pos_y,scene_id,label,timestamp,vel_x,vel_y
0,10,0,-4.659964,-8.678696,0,pedestrian,0.4,1.470409,0.583279
1,20,0,-4.071801,-8.445384,0,pedestrian,0.8,1.470409,0.583279
2,30,0,-3.483638,-8.212072,0,pedestrian,1.2,1.470409,0.583279
3,40,0,-2.899457,-7.970905,0,pedestrian,1.6,1.460452,0.602917
4,50,0,-2.324569,-7.711410,0,pedestrian,2.0,1.437220,0.648739

In [31]:
df_eth = df_eth.drop(["label", "timestamp"], axis=1)

In [32]:
df_eth.head()

   frame_id  agent_id     pos_x     pos_y  scene_id     vel_x     vel_y
0        10         0 -4.659964 -8.678696         0  1.470409  0.583279
1        20         0 -4.071801 -8.445384         0  1.470409  0.583279
2        30         0 -3.483638 -8.212072         0  1.470409  0.583279
3        40         0 -2.899457 -7.970905         0  1.460452  0.602917
4        50         0 -2.324569 -7.711410         0  1.437220  0.648739

In [33]:
df_eth.insert(7, "g1_x", temp_g_array[:, 0])

In [34]:
df_eth.head()

   frame_id  agent_id     pos_x     pos_y  scene_id     vel_x     vel_y  g1_x
0        10         0 -4.659964 -8.678696         0  1.470409  0.583279   0.0
1        20         0 -4.071801 -8.445384         0  1.470409  0.583279   0.0
2        30         0 -3.483638 -8.212072         0  1.470409  0.583279   0.0
3        40         0 -2.899457 -7.970905         0  1.460452  0.602917   0.0
4        50         0 -2.324569 -7.711410         0  1.437220  0.648739   0.0

In [35]:
df_eth.insert(8, "g1_y", temp_g_array[:, 1])
df_eth.insert(9, "g2_x", temp_g_array[:, 2])
df_eth.insert(10, "g2_y", temp_g_array[:, 3])
df_eth.insert(11, "g3_x", temp_g_array[:, 4])
df_eth.insert(12, "g3_y", temp_g_array[:, 5])
df_eth.insert(13, "g4_x", temp_g_array[:, 6])
df_eth.insert(14, "g4_y", temp_g_array[:, 7])
df_eth.insert(15, "g5_x", temp_g_array[:, 8])
df_eth.insert(16, "g5_y", temp_g_array[:, 9])
df_eth.insert(17, "g6_x", temp_g_array[:, 10])
df_eth.insert(18, "g6_y", temp_g_array[:, 11])

In [36]:
df_eth.tail()

,frame_id,agent_id,pos_x,pos_y,scene_id,vel_x,vel_y,g1_x,g1_y,g2_x,g2_y,g3_x,g3_y,g4_x,g4_y,g5_x,g5_y,g6_x,g6_y
17473,5350,433,-2.359579,-8.968975,0,-0.431661,0.074034,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17474,5360,433,-2.511268,-8.936154,0,-0.379221,0.082052,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17475,5370,433,-2.654832,-8.851320,0,-0.358911,0.212086,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17476,5380,433,-2.790273,-8.714472,0,-0.338601,0.342120,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17477,5390,433,-2.925713,-8.577624,0,-0.338601,0.342120,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
all_pos_array= np.array(df_eth[["pos_x", "pos_y", "g1_x", "g1_y", "g2_x", "g2_y", "g3_x", "g3_y", "g4_x", "g4_y", 
                                "g5_x", "g5_y", "g6_x", "g6_y"]])

In [38]:
# a[start:stop:step] # start through not past stop, by step

In [39]:
(np.trim_zeros(all_pos_array[-1]))

array([-2.92571317, -8.57762373])

In [40]:
import random
import math

In [41]:
len(all_pos_array)

17478

In [42]:
centroid_list = []
max_angle_list = []
eta_centroid_list = []
for p in range(len(all_pos_array)):
    pos_temp_array = all_pos_array[p]
    pos_temp_array = np.trim_zeros(pos_temp_array)
    # print(pos_temp_array)

    
    # just put a condition to skip when there is no group
    if len(pos_temp_array) == 2: max_angle, centroid_dist = 0, 0; eta_centroid = [0, 0]

    else: 
        # Centroid distance
        x_array = pos_temp_array[0::2]
        y_array = pos_temp_array[1::2]
        ci = np.array([np.sum(x_array)/len(y_array), np.sum(y_array)/len(y_array)])
        # print("centroid point: ", ci)

        centroid_dist = np.linalg.norm(pos_temp_array[:2] - ci)
        eta_centroid = (ci - pos_temp_array[:2])/centroid_dist
        # print("centroid distance: ", eta_centroid)

        if len(pos_temp_array) == 4: choice_leader = random.choice([0, 2])
        elif len(pos_temp_array) == 6: choice_leader = random.choice([0, 2, 4])
        elif len(pos_temp_array) == 8: choice_leader = random.choice([0, 2, 4, 6])
        else: choice_leader = random.choice([0, 2, 4, 6, 8])

        leader = pos_temp_array[choice_leader: (choice_leader + 2)] 
        # print(choice_leader + 2)
        # print(leader)

        # break
        dist, max_angle, fov_factor = 1000000, 0, 181
        for m in range(int(len(pos_temp_array)/2)):
                view_angle = math.degrees((math.atan2(leader[0], leader[1]) - math.atan2(pos_temp_array[m], 
                                                                                         pos_temp_array[m+1])))
                if (view_angle < 0): view_angle += 360

                if view_angle <= fov_factor and view_angle >= (360- fov_factor): continue

                if view_angle <= fov_factor: 
                    min_rotation_angle = fov_factor - view_angle
                else:
                    min_rotation_angle = view_angle - (360 - fov_factor)

                if min_rotation_angle > max_angle: 
                    max_angle = min_rotation_angle
                # print("max_angle: ", max_angle, "\n")
                max_angle = math.radians(max_angle)
    centroid_list.append(centroid_dist)
    max_angle_list.append(max_angle)
    eta_centroid_list.append(eta_centroid)

centroid_list = np.array(centroid_list)
max_angle_list = np.array(max_angle_list)
eta_centroid_list = np.array(eta_centroid_list)

print(len(centroid_list))
print(len(max_angle_list))
print(eta_centroid_list.shape)

17478
17478
(17478, 2)

In [43]:
max_angle_list

array([0., 0., 0., ..., 0., 0., 0.])

In [44]:
df_eth.head()

,frame_id,agent_id,pos_x,pos_y,scene_id,vel_x,vel_y,g1_x,g1_y,g2_x,g2_y,g3_x,g3_y,g4_x,g4_y,g5_x,g5_y,g6_x,g6_y
0,10,0,-4.659964,-8.678696,0,1.470409,0.583279,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,20,0,-4.071801,-8.445384,0,1.470409,0.583279,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,30,0,-3.483638,-8.212072,0,1.470409,0.583279,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,40,0,-2.899457,-7.970905,0,1.460452,0.602917,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,50,0,-2.324569,-7.711410,0,1.437220,0.648739,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [45]:
df_eth = df_eth.drop(["scene_id", "g1_x", "g1_y", "g2_x", "g2_y", "g3_x", "g3_y", "g4_x", "g4_y", "g5_x", 
                      "g5_y", "g6_x", "g6_y"], axis=1)

In [46]:
df_eth.head()

   frame_id  agent_id     pos_x     pos_y     vel_x     vel_y
0        10         0 -4.659964 -8.678696  1.470409  0.583279
1        20         0 -4.071801 -8.445384  1.470409  0.583279
2        30         0 -3.483638 -8.212072  1.470409  0.583279
3        40         0 -2.899457 -7.970905  1.460452  0.602917
4        50         0 -2.324569 -7.711410  1.437220  0.648739

In [47]:
df_eth["rotation_angle"] = max_angle_list
df_eth["eta_group_x"] = eta_centroid_list[:, 0]
df_eth["eta_group_y"] = eta_centroid_list[:, 1]

In [48]:
df_eth.head()

,frame_id,agent_id,pos_x,pos_y,vel_x,vel_y,rotation_angle,eta_group_x,eta_group_y
0,10,0,-4.659964,-8.678696,1.470409,0.583279,0.0,0.0,0.0
1,20,0,-4.071801,-8.445384,1.470409,0.583279,0.0,0.0,0.0
2,30,0,-3.483638,-8.212072,1.470409,0.583279,0.0,0.0,0.0
3,40,0,-2.899457,-7.970905,1.460452,0.602917,0.0,0.0,0.0
4,50,0,-2.324569,-7.711410,1.437220,0.648739,0.0,0.0,0.0

In [49]:
def get_x_y_co(x0, y0, radius):
    arr=[]
    x_ = np.arange(x0 - radius - 1, x0 + radius + 1, dtype=int)
    y_ = np.arange(y0 - radius - 1, y0 + radius + 1, dtype=int)
    x, y = np.where((x_[:,np.newaxis] - x0)**2 + (y_ - y0)**2 <= radius**2)
    print(x, y)
    # x, y = np.where((np.hypot((x_-x0)[:,np.newaxis], y_-y0)<= radius)) # alternative implementation
    for x, y in zip(x_[x], y_[y]):
        arr.append([x,y])
    
    return arr

In [50]:
x_line1 = np.linspace(6.000, 0, num=20)
y_line1 = np.linspace(2.000, 2.000, num=20)

x_line2 = np.linspace(0, 0, num=20)
y_line2 = np.linspace(2, 0, num=20)

x_line3 = np.linspace(0, 1.5, num=20)
y_line3 = np.linspace(0, 0, num=20)

x_line4 = np.linspace(1.5, 1.5, num=20)
y_line4 = np.linspace(0, -10, num=20)

xy_line1 = []
xy_line2 = []
xy_line3 = []
xy_line4 = []

for j in range(20):
    temp_xy1 = [x_line1[j], y_line1[j]]
    temp_xy2 = [x_line2[j], y_line2[j]]
    temp_xy3 = [x_line3[j], y_line3[j]]
    temp_xy4 = [x_line4[j], y_line4[j]]

    xy_line1.append(temp_xy1)
    xy_line2.append(temp_xy2)
    xy_line3.append(temp_xy3)
    xy_line4.append(temp_xy4)

xy_line1 = np.array(xy_line1)
xy_line2 = np.array(xy_line2)
xy_line3 = np.array(xy_line3)
xy_line4 = np.array(xy_line4)

space_cords_total = np.concatenate((xy_line1, xy_line2, xy_line3, xy_line4), axis=0)

# space_cords_total = space_cords_temp
space_cords_total.shape

(80, 2)

In [51]:
df_eth = df_eth.sort_values(by=['frame_id', 'agent_id'], ascending=True)
df_eth.head()

,frame_id,agent_id,pos_x,pos_y,vel_x,vel_y,rotation_angle,eta_group_x,eta_group_y
0,10,0,-4.659964,-8.678696,1.470409,0.583279,0.0,0.0,0.0
14,10,1,-1.330428,-6.608065,1.200562,0.246101,0.0,0.0,0.0
22,10,2,-10.349845,-12.715208,1.469372,1.683016,0.0,0.0,0.0
58,10,3,-21.047288,-12.720105,1.551914,0.815166,0.0,0.0,0.0
165,10,4,0.241245,-6.906134,-2.211964,-0.325062,0.0,0.0,0.0

In [52]:
input_xy[0]

array([-4.6599646, -8.678696 ], dtype=float32)

In [53]:
# get nearby obstacles
nearby_obstacle_list = []
distance_to_nearby_obstacle = []
for k in range(len(input_xy)):
    # print(k)
    space_dist = input_xy[k] - space_cords_total
    temp_dist = []
    
    # print(space_dist)
    for x in range(len(space_dist)):
        temp_x = np.linalg.norm(space_dist[x])
        temp_dist.append(temp_x)

    temp_dist = np.array(temp_dist)
    temp_dist2 = min(temp_dist)
    temp_index = np.argmin(temp_dist)
    # print(temp_index)
    temp_cords = space_cords_total[temp_index]
    distance_to_nearby_obstacle.append(temp_dist2)
    # print(temp_cords)
    
    nearby_obstacle_list.append(temp_cords)
    
nearby_obstacle_list = np.array(nearby_obstacle_list)
distance_to_nearby_obstacle = np.array(distance_to_nearby_obstacle)
print(len(nearby_obstacle_list))
print(len(distance_to_nearby_obstacle))
print(distance_to_nearby_obstacle)

17478
17478
[6.16535022 5.57185431 4.98801726 ... 4.1559424  4.29658944 4.42848174]

In [54]:
df_eth['bound_x'] = nearby_obstacle_list[:, 0]
df_eth['bound_y'] = nearby_obstacle_list[:, 1]

In [55]:
df_eth.head()

,frame_id,agent_id,pos_x,pos_y,vel_x,vel_y,rotation_angle,eta_group_x,eta_group_y,bound_x,bound_y
0,10,0,-4.659964,-8.678696,1.470409,0.583279,0.0,0.0,0.0,1.5,-8.421053
14,10,1,-1.330428,-6.608065,1.200562,0.246101,0.0,0.0,0.0,1.5,-8.421053
22,10,2,-10.349845,-12.715208,1.469372,1.683016,0.0,0.0,0.0,1.5,-8.421053
58,10,3,-21.047288,-12.720105,1.551914,0.815166,0.0,0.0,0.0,1.5,-7.894737
165,10,4,0.241245,-6.906134,-2.211964,-0.325062,0.0,0.0,0.0,1.5,-7.894737

In [56]:
frame_number = np.array(df_eth["frame_id"])
frame_multiple = np.array(printRepeating(frame_number, len(frame_number)))
frame_multiple
print(max(frame_multiple[:, 1]))
np.argmax(frame_multiple[:, 1])

51

97

In [57]:
temp_n_array = []
for p in range(len(input_xy)):
    temp_n_array.append(np.zeros(100))
    
temp_n_array = np.array(temp_n_array)
temp_n_array

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [58]:
# it is this process to get neighbors
# go through it and put 
# print(len(temp_ped_set1))
# temp_ped_set1 = np.delete(temp_ped_set, x, axis=0), iterate this x in range(len(temp_ped_State)) 
# then append zeroes to reach 26 neighbours
# temp_ped_set1 = np.delete(temp_ped_set, 0, axis=0)
# print(temp_ped_set1)
# temp_ped_set
for j in range(len(frame_multiple)):
    result = np.where(frame_number==frame_multiple[j, 0])
    result2 = result[0]
    # print(result2)
    temp_ped_set = input_xy[result2[0]:result2[-1]+1]
    # temp_dw_Set2 = []
    # for k in range(len(temp_ped_set)):
     #   temp_dw = np.linalg.norm(input_xy[frame_multiple2[j, 0]])
    

    for s in range(len(temp_ped_set)):
        temp_ped_set1 = np.delete(temp_ped_set, s, axis=0)
        for k in range((51 - len(temp_ped_set))):
            temp_ped_set1 = np.concatenate((temp_ped_set1, [[0, 0]]), axis=0)
        temp_ped_set1 = temp_ped_set1.flatten()
        temp_n_array[result2[s]] = temp_ped_set1
    

temp_n_array

array([[-4.07180119, -8.44538403, -3.48363757, ...,  0.        ,
         0.        ,  0.        ],
       [-4.65996456, -8.67869568, -3.48363757, ...,  0.        ,
         0.        ,  0.        ],
       [-4.65996456, -8.67869568, -4.07180119, ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [-2.79027271, -8.71447182, -2.92571306, ...,  0.        ,
         0.        ,  0.        ],
       [-2.65483236, -8.85132027, -2.92571306, ...,  0.        ,
         0.        ,  0.        ],
       [-2.65483236, -8.85132027, -2.79027271, ...,  0.        ,
         0.        ,  0.        ]])

In [59]:
temp_dw_array = []
for p in range(len(input_xy)):
    temp_dw_array.append(np.zeros(50))
temp_dw_array = np.array(temp_dw_array)

temp_nw_array = []
for p in range(len(input_xy)):
    temp_nw_array.append(np.zeros((50, 2)))
temp_nw_array = np.array(temp_nw_array)

In [60]:
# to get dw and nw for all neighbours
for x in range(len(input_xy)):
    temp_dw_set2 = []
    temp_nw_set2 = []
    point1 = input_xy[x]
    point2_set = temp_n_array[x, :]
    point2_set = np.reshape(point2_set, (50,2))
    for j in range(len(point2_set)):
        # print(point2_set[j])
        if np.all(point2_set[j] == [0, 0]):
            temp_dw = 0
            temp_nw = [0, 0]
        else:
            temp_dw = np.linalg.norm(point1 - point2_set[j])
            temp_nw = (point1 - point2_set[j])/temp_dw
        temp_dw_set2.append(temp_dw)
        temp_nw_set2.append(temp_nw)
    temp_dw_set2 = np.array(temp_dw_set2)
    temp_nw_set2 = np.array(temp_nw_set2)
    temp_dw_array[x] = temp_dw_set2
    temp_nw_array[x] = temp_nw_set2
               
temp_dw_array.shape

(17478, 50)

In [61]:
df_eth['n1_x'] = temp_n_array[:, 0]
df_eth['n1_y'] = temp_n_array[:, 1]
df_eth['n2_x'] = temp_n_array[:, 2]
df_eth['n2_y'] = temp_n_array[:, 3]
df_eth['n3_x'] = temp_n_array[:, 4]
df_eth['n3_y'] = temp_n_array[:, 5]
df_eth['n4_x'] = temp_n_array[:, 6]
df_eth['n4_y'] = temp_n_array[:, 7]
df_eth['n5_x'] = temp_n_array[:, 8]
df_eth['n5_y'] = temp_n_array[:, 9]
df_eth['n6_x'] = temp_n_array[:, 10]
df_eth['n6_y'] = temp_n_array[:, 11]
df_eth['n7_x'] = temp_n_array[:, 12]
df_eth['n7_y'] = temp_n_array[:, 13]
df_eth['n8_x'] = temp_n_array[:, 14]
df_eth['n8_y'] = temp_n_array[:, 15]
df_eth['n9_x'] = temp_n_array[:, 16]
df_eth['n9_y'] = temp_n_array[:, 17]
df_eth['n10_x'] = temp_n_array[:, 18]
df_eth['n10_y'] = temp_n_array[:, 19]
df_eth['n11_x'] = temp_n_array[:, 20]
df_eth['n11_y'] = temp_n_array[:, 21]
df_eth['n12_x'] = temp_n_array[:, 22]
df_eth['n12_y'] = temp_n_array[:, 23]
df_eth['n13_x'] = temp_n_array[:, 24]
df_eth['n13_y'] = temp_n_array[:, 25]
df_eth['n14_x'] = temp_n_array[:, 26]
df_eth['n14_y'] = temp_n_array[:, 27]
df_eth['n15_x'] = temp_n_array[:, 28]
df_eth['n15_y'] = temp_n_array[:, 29]
df_eth['n16_x'] = temp_n_array[:, 30]
df_eth['n16_y'] = temp_n_array[:, 31]
df_eth['n17_x'] = temp_n_array[:, 32]
df_eth['n17_y'] = temp_n_array[:, 33]
df_eth['n18_x'] = temp_n_array[:, 34]
df_eth['n18_y'] = temp_n_array[:, 35]
df_eth['n19_x'] = temp_n_array[:, 36]
df_eth['n19_y'] = temp_n_array[:, 37]
df_eth['n20_x'] = temp_n_array[:, 38]
df_eth['n20_y'] = temp_n_array[:, 39]
df_eth['n21_x'] = temp_n_array[:, 40]
df_eth['n21_y'] = temp_n_array[:, 41]
df_eth['n22_x'] = temp_n_array[:, 42]
df_eth['n22_y'] = temp_n_array[:, 43]
df_eth['n23_x'] = temp_n_array[:, 44]
df_eth['n23_y'] = temp_n_array[:, 45]
df_eth['n24_x'] = temp_n_array[:, 46]
df_eth['n24_y'] = temp_n_array[:, 47]
df_eth['n25_x'] = temp_n_array[:, 48]
df_eth['n25_y'] = temp_n_array[:, 49]
df_eth['n26_x'] = temp_n_array[:, 50]
df_eth['n26_y'] = temp_n_array[:, 51]

In [62]:
df_eth.head()

,frame_id,agent_id,pos_x,pos_y,vel_x,vel_y,rotation_angle,eta_group_x,eta_group_y,bound_x,...,n22_x,n22_y,n23_x,n23_y,n24_x,n24_y,n25_x,n25_y,n26_x,n26_y
0,10,0,-4.659964,-8.678696,1.470409,0.583279,0.0,0.0,0.0,1.5,...,-10.349845,-12.715208,-9.762096,-12.042001,-9.174348,-11.368794,-8.624108,-10.811061,-8.078036,-10.266158
14,10,1,-1.330428,-6.608065,1.200562,0.246101,0.0,0.0,0.0,1.5,...,-10.349845,-12.715208,-9.762096,-12.042001,-9.174348,-11.368794,-8.624108,-10.811061,-8.078036,-10.266158
22,10,2,-10.349845,-12.715208,1.469372,1.683016,0.0,0.0,0.0,1.5,...,-10.349845,-12.715208,-9.762096,-12.042001,-9.174348,-11.368794,-8.624108,-10.811061,-8.078036,-10.266158
58,10,3,-21.047288,-12.720105,1.551914,0.815166,0.0,0.0,0.0,1.5,...,-10.349845,-12.715208,-9.762096,-12.042001,-9.174348,-11.368794,-8.624108,-10.811061,-8.078036,-10.266158
165,10,4,0.241245,-6.906134,-2.211964,-0.325062,0.0,0.0,0.0,1.5,...,-10.349845,-12.715208,-9.762096,-12.042001,-9.174348,-11.368794,-8.624108,-10.811061,-8.078036,-10.266158

In [63]:
len(df_eth.columns)

63

In [64]:
for p in range(24):
    label_x2 = "n" + str(27+p) + "_x"
    label_y2 = "n" + str(27+p) + "_y"
    df_eth.insert(62+p, label_x2, temp_n_array[:, 51+p])
    df_eth.insert(63+p, label_y2, temp_n_array[:, 52+p])

c:\users\sakif\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3361: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  if (await self.run_code(code, result,  async_=asy)):

In [65]:
for k in range(50):
    label_x = "d_w"
    label_x2 = label_x + str(1 + k)
    df_eth.insert(110+k, label_x2, temp_dw_array[:, 0+k])

In [66]:
df_eth.head()

,frame_id,agent_id,pos_x,pos_y,vel_x,vel_y,rotation_angle,eta_group_x,eta_group_y,bound_x,...,d_w42,d_w43,d_w44,d_w45,d_w46,d_w47,d_w48,d_w49,d_w50,n26_y
0,10,0,-4.659964,-8.678696,1.470409,0.583279,0.0,0.0,0.0,1.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-10.266158
14,10,1,-1.330428,-6.608065,1.200562,0.246101,0.0,0.0,0.0,1.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-10.266158
22,10,2,-10.349845,-12.715208,1.469372,1.683016,0.0,0.0,0.0,1.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-10.266158
58,10,3,-21.047288,-12.720105,1.551914,0.815166,0.0,0.0,0.0,1.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-10.266158
165,10,4,0.241245,-6.906134,-2.211964,-0.325062,0.0,0.0,0.0,1.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-10.266158

In [67]:
for k in range(50):
    label_nw_x = "n_w_x"
    label_nw_x2 = label_nw_x + str(1 + k)
    df_eth.insert(160+k, label_nw_x2, temp_nw_array[:, 0+k, 0])

c:\users\sakif\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3361: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  if (await self.run_code(code, result,  async_=asy)):

In [68]:
for k in range(50):
    label_nw_y = "n_w_y"
    label_nw_y2 = label_nw_y + str(1 + k)
    df_eth.insert(210 + k, label_nw_y2, temp_nw_array[:, 0+k, 1])

In [69]:
df_eth.head()

,frame_id,agent_id,pos_x,pos_y,vel_x,vel_y,rotation_angle,eta_group_x,eta_group_y,bound_x,...,n_w_y42,n_w_y43,n_w_y44,n_w_y45,n_w_y46,n_w_y47,n_w_y48,n_w_y49,n_w_y50,n26_y
0,10,0,-4.659964,-8.678696,1.470409,0.583279,0.0,0.0,0.0,1.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-10.266158
14,10,1,-1.330428,-6.608065,1.200562,0.246101,0.0,0.0,0.0,1.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-10.266158
22,10,2,-10.349845,-12.715208,1.469372,1.683016,0.0,0.0,0.0,1.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-10.266158
58,10,3,-21.047288,-12.720105,1.551914,0.815166,0.0,0.0,0.0,1.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-10.266158
165,10,4,0.241245,-6.906134,-2.211964,-0.325062,0.0,0.0,0.0,1.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-10.266158

In [70]:
bound_xy = df_eth.values[:, 8:10].astype('float32')
bound_xy[0]

array([0. , 1.5], dtype=float32)

In [71]:
# eucledian distance dw
dw_bound = []
nw_bound = []
for n in range(len(input_xy)):
    temp_dw = np.linalg.norm(input_xy[n] - bound_xy[n])
    temp_nw = (input_xy[n] - bound_xy[n])/temp_dw
    dw_bound.append(temp_dw)
    nw_bound.append(temp_nw)
dw_bound = np.array(dw_bound)
nw_bound = np.array(nw_bound)

# print(dw_bound[:10])
# print(nw_bound[:10])

In [72]:
df_eth["d_w_bound"] = dw_bound
df_eth["n_w_bound_x"] = nw_bound[:, 0]
df_eth["n_w_bound_y"] = nw_bound[:, 1]

In [73]:
df_eth = df_eth.rename(columns={'agent_id':'ped_no'})

In [74]:
df_eth.head()

,frame_id,ped_no,pos_x,pos_y,vel_x,vel_y,rotation_angle,eta_group_x,eta_group_y,bound_x,...,n_w_y45,n_w_y46,n_w_y47,n_w_y48,n_w_y49,n_w_y50,n26_y,d_w_bound,n_w_bound_x,n_w_bound_y
0,10,0,-4.659964,-8.678696,1.470409,0.583279,0.0,0.0,0.0,1.5,...,0.0,0.0,0.0,0.0,0.0,0.0,-10.266158,11.194692,-0.416266,-0.909243
14,10,1,-1.330428,-6.608065,1.200562,0.246101,0.0,0.0,0.0,1.5,...,0.0,0.0,0.0,0.0,0.0,0.0,-10.266158,10.746638,-0.378891,-0.925441
22,10,2,-10.349845,-12.715208,1.469372,1.683016,0.0,0.0,0.0,1.5,...,0.0,0.0,0.0,0.0,0.0,0.0,-10.266158,10.317949,-0.337629,-0.941279
58,10,3,-21.047288,-12.720105,1.551914,0.815166,0.0,0.0,0.0,1.5,...,0.0,0.0,0.0,0.0,0.0,0.0,-10.266158,9.904792,-0.292733,-0.956194
165,10,4,0.241245,-6.906134,-2.211964,-0.325062,0.0,0.0,0.0,1.5,...,0.0,0.0,0.0,0.0,0.0,0.0,-10.266158,9.500195,-0.244686,-0.969602

In [75]:
df_eth.to_csv("STUDENTS03_data_prepared_normal3.csv", index=False)